.radar-top-left {
    position:absolute;
    top:0px;
    left:0px;
    width:100px;
    height:100px;
}

.info {
    font-size: large;
    position: absolute;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #BBBBBB;
    text-align: center;
    top: 0;
    left: 0;
    opacity: 0.7;
    display: table;
}

#pointerDataPanel, #allPtrsListPanel {
    background: #77A924;
    opacity: 0.7;
}

h4, h3 {
    color: #ffffff;
}

body .ui-body-a, body .ui-overlay-a {
    text-shadow:0 0 0 !important;
}

body .ui-body-b, body .ui-overlay-b {
    text-shadow:0 0 0 !important;
}

body .ui-body-c, body .ui-overlay-c {
    text-shadow:0 0 0 !important;
}